- name: Disables password authentication for SSH
  hosts: "*"

  tasks:
  - name: SSH Password Authentication
    shell: |
            if grep -q "PasswordAuthentication no" /etc/ssh/sshd_config; then
              echo "true"
            else
             echo "false"
            fi